.form {
  position: absolute;
  height: 564px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* btn-gradient */

  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);

  .container {

    .image {
      .img-left {
        position: absolute;
        width: 354px;
        height: 246px;
        left: 0px;
        bottom: 0px;
      }

      .img-right {
        position: absolute;
        width: 354px;
        height: 246px;
        right: 0px;
        bottom: 0px;
      }
    }
  }
}