.body {
  padding: 0 10%;

  .containerBody {
    text-align: center;

    h6 {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 1px;
      margin: 0;
    }

    h1 {
      font-size: 46px;
      font-weight: 900;
      line-height: 60px;
      text-align: center;
      margin-top: 8px;
    }
  }

  .grid {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}