.selectors {
  display: flex;
  justify-content: space-between;

  div {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
  }

  .eventCategory {
    display: flex;
    align-items: center;

    select {
      padding: 0 12px;
      width: 160px;
      height: 44px;
      margin-left: 12px;
      box-sizing: border-box;
      background: #FFFFFF;
      border: 1px solid #D7DADD;
      border-radius: 4px;
      color: #424551;
    }
  }

  .sortBy {
    display: flex;
    align-items: center;

    select {
      margin-left: 12px;
      padding: 0 12px;
      width: 160px;
      height: 44px;
      box-sizing: border-box;
      background: #FFFFFF;
      border: 1px solid #D7DADD;
      border-radius: 4px;
      color: #424551;
    }
  }

  .show {
    display: flex;
    align-items: center;

    input {
      margin: 0 12px;
      padding: 0 12px;
      box-sizing: border-box;
      width: 72px;
      height: 44px;
      background: #FFFFFF;
      border: 1px solid #D7DADD;
      border-radius: 4px;
    }

    p {
      width: 97px;
      height: 21px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #787A80;
    }
  }

  .form {
    display: flex;
    align-items: center;

    > div {
      min-width: 240px;
      position: relative;

      > input {
        box-sizing: border-box;
        min-width: 240px;
        height: 44px;
        left: 1201px;
        top: 304px;
        background: #FFFFFF;
        border: 1px solid #D7DADD;
        border-radius: 4px;
        padding: 0 16px;
      }

      > i {
        position: absolute;
        top: 9px;
        right: 9px;
        font-size: 16px;
        color: #D7DADD;
        cursor: pointer;
      }
    }
  }

  .radio {
    display: flex;
    justify-content: end;
    align-items: center;

    .icon {
      font-size: 20px;
      color: #424551;
      padding: 10px;
      cursor: pointer;
      -webkit-transition: color 200ms;
      -o-transition: color 200ms;
      transition: color 200ms;

      &--active {
        color: #FF3F3A;
      }
    }
  }
}