.footer {
  background: #1E212C;

  .top {
    padding-top: 80px;
    display: flex;
    justify-content: center;

    .container {
      width: 1240px;
      padding: 0 10%;
      display: flex;
      color: rgba(255, 255, 255, 0.6);

      h6 {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 1px;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
      }

      a {
        display: block;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        line-height: 25.6px;
        margin: 8px 0;

      }

      .col_1 {
        width: 350px;
        margin-right: 80px;

        .icons {
          display: flex;
          justify-content: space-between;
        }
      }

      .col_2 {
        width: 110px;
        margin-right: 80px;
      }

      .col_3 {
        width: 110px;
        margin-right: 80px;
      }

      .col_4 {
        width: 120px;
        margin-right: 80px;
      }

      .col_5 {
        width: 350px;

        input {
          margin: 12px 0;
          width: 286px;
          height: 36px;
          background: rgba(255, 255, 255, 0.12);
          border: 1px solid rgba(255, 255, 255, 0.2);
          border-radius: 4px;
          padding-left: 12px;
        }

        p {
          font-size: 10px;
          font-weight: 400;
          line-height: 15px;
          letter-spacing: 0;
          text-align: left;
          color: #ffffff;
        }
      }

    }
  }

  .bottom {
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;

    .container {
      width: 1240px;
      padding: 0 10%;
      display: flex;
      justify-content: space-between;

      .left {
        display: flex;

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 150%;
          display: flex;
          align-items: center;
          color: #FFFFFF;
        }
      }

      .right {
        height: 21px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #FFFFFF;
        opacity: 0.6;
      }
    }
  }
}